

#form-container {
    background-color: rgb(255, 255, 255);
    margin-top: 5rem;
    box-shadow: rgba(194, 192, 98, 0.35) 0px 5px 15px;
    padding: 25px;
}
.btn-btn-primary{
    background-color: rgba(194, 192, 98, 0.35);
   
}

.poke_ball{
    width: 25px;
}

.name{
  font-size: 2rem;
  margin: 5px;
  border: 5px;
  width: 30px;
}

.card{
    padding: 40px;
    margin:100px 0px 0px 40%;
    border: solid 10px rgb(6, 6, 5);
    box-shadow: rgba(71, 70, 32, 0.35) 0px 5px 15px;
    background-color: teal;
    
    
}

.form_btn{
  margin: 5px;
}



.list-grouplist-group-flush{
  margin: 0px 20px 200px 0px;
  border: solid 5px rgb(20, 27, 26);
  box-shadow: rgba(24, 23, 9, 0.35) 0px 5px 15px;
  background-color: gray;
  border-radius: 20px;


}
.list-group-item{
    font-weight: bold;
}

.dot1{
  height: 45px;
  width: 45px;
  background-color: #bb0b0b;
  border-radius: 50%;
  border: solid black;
  display: flex;
  margin: -70px 20px 60px 300px;
  padding:6.5px 1px 8px 13px;
  font-weight:bold;
}
.dot2{
  height: 45px;
  width: 45px;
  background-color: #bb0b0b;
  border-radius: 50%;
  border: solid black;
  display: flex;
  margin: -50px 0px 50px 230px;
  padding:6.5px 1px 8px 13px;
  font-weight:bold;
}


nav {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 50px 0;
    box-shadow: 0px 5px 0px #dedede;
  }
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #555;
  }
  
  
  /* stroke */
  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
  
  nav.fill ul li a {
    transition: all 2s;
  }
  
  nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
  }
  nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }
  
  /* Circle */
  nav.circle ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  nav.circle ul li a:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
  }
  nav.circle ul li a:hover:after {
    -webkit-animation: circle 1.5s ease-in forwards;
  }
  
  /* SHIFT */
  nav.shift ul li a {
    position:relative;
    z-index: 1;
  }
  nav.shift ul li a:hover {
    color: #91640F;
  }
  nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F1C40F;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }